@using BlogWeb.Models.Dto
@model List<UserDTO>

<div class="card">
	<div class="card-header row">
		<div class="col text-start">
			<div class="card-title">Users Management</div>
		</div>
		<div class="col-auto">
			<a asp-controller="User" asp-action="Create" class="btn btn-success">Create User</a>
		</div>
	</div>
	<div class="card-body">
		@if(Model != null && Model.Count != 0){
			@foreach(var user in Model)
			{
				<table class="table table-striped mt-3">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Username</th>
							<th scope="col">Email</th>
							<th scope="col">Role</th>
							<th scope="col">CreatedAt</th>
							<th scope="col">Control</th>
						</tr>
					</thead>

						<tbody>
							<tr>
								<td>@user.Id</td>
								<td>@user.UserName</td>
								<td>@user.Email</td>
								<td>@user.Role</td>
								<td>@user.CreatedAt</td>
								<td>
									<a asp-controller="User" asp-action="Delete" asp-route-Id="@user.Id" class="btn btn-danger btn-sm">
										<i class="fa-solid fa-trash-can"></i>
									</a>
									<a href="#" class="btn btn-warning btn-sm">
										<i class="fa-solid fa-circle-minus"></i>
									</a>
								</td>
							</tr>
						</tbody>
				</table>
			}
		}
		else
		{
			<h6 class="alert alert-info text-center"> There's no users </h6>
		}
	</div>
</div>