@using BlogWeb.Healpers
@using BlogWeb.Models.Dto;

@{
    ViewData["Title"] = "Home Page";
    var latestOne = ViewData["latestOne"] as PostDTO;
    var baseUrl = ViewData["baseUrl"];

    var paginatedPosts = ViewData["paginatedPosts"] as List<PostDTO>;
    int totalPages = (int)ViewData["TotalPages"];
    int currentPage = (int)ViewData["CurrentPage"];


}

<div class="col-12">
    <h2 class="section-title">Latest Articles</h2>
</div>
<div class="col-lg-8 mb-5 mb-lg-0">
    <div class="row">
        <div class="col-12 mb-4">
            <article class="card article-card">
                <a href="#">
                    <div class="card-image">
                        <div class="post-info">
                            <span class="text-uppercase">04 Jun 2021</span>
                            <span class="text-uppercase">3 minutes read</span>
                        </div>
                        <img loading="lazy" decoding="async" src="@baseUrl/@latestOne.PhotoUrl" alt="Post Thumbnail" class="w-100">
                    </div>
                </a>
                <div class="card-body px-0 pb-1">
                    <ul class="post-meta mb-2">
                        <li>
                            <a href="#!">@latestOne.Category.Name</a>
                        </li>
                    </ul>
                    <h2 class="h1">
                        <a class="post-title" href="#">
                            @latestOne.Title
                        </a>
                    </h2>
                    <p class="card-text">@((latestOne.Content?.Length > 250 ? HtmlHelpers.StripHtml(latestOne.Content.Substring(0, 250)) + "..." : HtmlHelpers.StripHtml(latestOne.Content)))</p>
                    <div class="content">
                        <a class="read-more-btn" href="#">Read Full Article</a>
                    </div>
                </div>
            </article>
        </div>
        @foreach (var post in paginatedPosts)
        {
            <div class="col-md-6 mb-4">
                <article class="card article-card article-card-sm h-100">
                    <a href="#">
                        <div class="card-image">
                            <div class="post-info">
                                <span class="text-uppercase">03 Jun 2021</span>
                                <span class="text-uppercase">2 minutes read</span>
                            </div>
                            <img loading="lazy" decoding="async" src="@baseUrl/@post.PhotoUrl" alt="Post Thumbnail" class="w-100">
                        </div>
                    </a>
                    <div class="card-body px-0 pb-0">
                        <ul class="post-meta mb-2">
                            <li>
                                <a href="#!">@post.Category.Name</a>
                            </li>
                        </ul>
                        <h2>
                            <a class="post-title" href="#">
                                @((post.Title?.Length > 35 ? HtmlHelpers.StripHtml(post.Title.Substring(0, 35)) + "..." : HtmlHelpers.StripHtml(post.Title)))
                            </a>
                        </h2>
                        <p class="card-text">@((post.Content?.Length > 100 ? HtmlHelpers.StripHtml(post.Content.Substring(0, 100)) + "..." : HtmlHelpers.StripHtml(post.Content)))</p>
                        <div class="content">
                            <a class="read-more-btn" href="#">Read Full Article</a>
                        </div>
                    </div>
                </article>
            </div>

        }
 





        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <nav class="mt-4">
                        <!-- pagination -->
                        <nav class="mb-md-50">
                            <ul class="pagination justify-content-center">
                                @for(int i =1; i <= totalPages; i++)
                                {
@*                                     // Using Url Helper
                                    <li class="page-item @(i == currentPage? "active" : "") ">
                                        <a href="@Url.Action("Index", new {page = i})" class="page-link">1</a>
                                    </li> *@

                                    // Using ASP Tags Helper
                                    <li class="page-item @(i == currentPage? "active" : "") ">
                                        <a asp-controller="Home" asp-action="Index" asp-route-page="@i" class="page-link">@i</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>